.container {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
#size {
  font-family: arial;
  color: red;
  font-size: 30px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}
.container p {
  text-align: justify;
  font-size: 30px;
}

.box1 {
  float: left;
  width: 200px;
  height: 200px;
  background: orange;
}
.box2 {
  float: left;

  width: 200px;
  height: 200px;
  background: skyblue;
}

@media screen and (max-width: 1200px) {
  .container {
    background: pink;
  }
}
@media screen and (max-width: 700px) {
  .container {
    background: greenyellow;
  }
  .box1
  {
    float: none;
    width: 100%;

  }
  .box2
  {
    float: none;
    width: 50%;

  }
}
@media screen and (max-width: 500px) {
  .container {
    background: greenyellow;
  }
  .box1
  {
    display: none;

  }
  .box2
  {
    float: none;
    width: 50%;

  }
}
